<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gfk.business.user.mapper.UserProjectMappingMapper">

    <select id="getUserProject" resultType="com.gfk.business.system.project.model.Project">
        select p.*
        from user_project_mapping pm
                 inner join project p on pm.project_id = p.id
        where pm.user_id = #{userId}
          and pm.is_deleted = false
        order by p.id
    </select>

    <insert id="batchInsert">
        insert into user_project_mapping (create_by,update_by,is_deleted,create_time,update_time,user_id,project_id)
        values
        <foreach collection="saveList" item="i" separator=",">
            (#{i.createBy},#{i.updateBy},#{i.isDeleted},#{i.createTime},#{i.updateTime},#{i.userId},#{i.projectId})
        </foreach>
    </insert>

</mapper>